@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Images/easyparking.jpeg'); color: #f3cf20; background-size: 100%; margin-top: 20px; border-radius: 0px">
    <h1>EASY PARKING</h1>
    <p class="lead">Make your parking experience easier and reliable.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            The technical problem that we are trying to address in our project is figuring out a way to find the closest parking spot for a car. Quick, cheap, reliable, and efficient system design is at the heart of the Easy Parking. The idea came about observing the inefficiency of current methods of parking enforcement (several peoples continuously roaming around the floors and checking parking spot) at the campus area.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>The purpose of this project is to track the occupancy of a parking garage and allow customers to find the available parking places to park their car. This will help users to find the nearby available parking locations and the users can also reserve the parking lot for their approximate arrival time.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Goals and Features</h2>
        <p>The user will be shown the list of parking spot near him/her. The user will be able to search for the specific parking spot. The user can decide in which parking location they want to park and after selecting the specific parking they can see the number of available and vacant parking space in that</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>